body {
    padding-top: 60px;
    padding-bottom: 40px;
}

input[type="radio"] {
    vertical-align: baseline;
}

.control-group .controls label {
    display: inline;
}

.show-ad {
    border: solid 1px lightgrey;
    margin: 1px;
    padding: 1px;
}

.show-ad .created, .show-ad .rent {
    float: right;
}
