{% macro renderfield(field, css_class="", widget_css_class=None, autofocus=False, nolabeldesc=False, sidetext=None) -%}
{% if field.errors -%}
  {% for error in field.errors %}<div class="alert alert-error">{{ error }}</div>{% endfor %}
{% endif %}
<div class="control-group" id="field-{{ field.id }}">
  <label class="control-label">{{ field.label.text }}</label>
  <div class="controls">
  {% if autofocus %}
    {% if widget_css_class %}
      {{ field(autofocus="autofocus", class=widget_css_class) }}
    {% else %}
      {{ field(autofocus="autofocus") }}
    {% endif %}
  {% else %}
    {% if widget_css_class %}
      {{ field(class=widget_css_class) }}
    {% else %}
      {{ field }}
    {% endif %}
  {% endif %}
  {% if field.description %}
    <br/><span class="description">{{ field.description }}</span>
  {% endif %}
  </div>
</div>
{% endmacro %}

{% macro rendersubmit(buttons=[], css_class="") %}
<div class="field{% if css_class %} {{ css_class}}{% endif %}">
  <div class="submit">&nbsp;</div>
  <div class="controls submit">
    {% for name, value, widget_class in buttons %}
      <input type="submit"
        {%- if name %} name="{{ name|e }}"{% else %} {% endif -%}
        value="{{ value|e }}"
        {% if widget_class %} class="{{ widget_class|e }}" {% else %} {% endif -%}
        />
    {% endfor %}
    <span class="loading hidden">&nbsp;</span>
  </div>
</div>
{% endmacro %}

{% macro renderform(form, formid, submit, message='', form_cls='form-horizontal') %}
<div class="span12">
<form id="{{ formid }}" class="{{ form_cls }}" method="POST" accept-charset="UTF-8">
<fieldset>
  {% if message %}<p>{{ message }}</p>{% endif %}
  <div style="display:none;"><input type="hidden" name="form.id" value="{{ formid }}" /></div>
  {{ form.hidden_tag() }}
  {% if form.csrf_token.errors %}
    {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {% for field in form %}
    {% if field.widget.input_type and field.widget.input_type == 'hidden' -%}
    {# Don't show hidden #}
    {%- else -%}
      {% if field.type == "RadioField" %}
        {{ renderfield(field, "small", "unstyled") }}
      {% else %}
        {{ renderfield(field, "small") }}
      {% endif %}
    {%- endif %}
  {% endfor %}
  {{ rendersubmit([(None, submit or "Submit", None)], "small") }}
</fieldset>
</form>
</div>
{% endmacro %}

