{% extends "includes/layout.html" %}
{% block content %}
{% for room in rooms %}
<div class="row show-ad">
  <div class="span2">
    <img src="{{ room.user.email | gravatar }}" />
  </div>
  <div class="span5">
    {%- set link=url_for('view_ad', url=room.urlname) -%}
    <address>
      {{ room.address }} <br/>
      {{ room.city }}
    </address>
    <ul class="unstyled">
      <li class="num">{{ loop.index }}</li>
      <li>{{ room.is_available }}</li>
      <li>{{ room.starting }}</li>
      <li>{{ room.room_type }}</li>
      <li>{{ room.room_rent }}</li>
    </ul>
  </div>
  <div class="span3">
    {{ room.room_description }}
  </div>
</div>
{% else %}
<!-- FIXME -->
No Ads!
{% endfor %}
{% endblock %}
