{% extends "includes/layout.html" %}
{% from "includes/forms.html" import renderfield %}
{% from "includes/comments.html" import commenttree %}
{% block title %}{ # FIXME: Add a reasonable title }{% endblock %}
{% block heading %}{# Inhibit display of page-level title #}{% endblock %}
{% block content %}
{# FIXME: if user is logged in, show edit and delete options #}
FIXME: this page needs to get a better structure, but later.
<table class="listing">
  <thead>
    <tr>
      <th>Available</th>
      <th>Address</th>
      <th>City</th>
      <th>Starting</th>
      <th>Type</th>
      <th>Rent</th>
    </tr>
  </thead>
  <tbody class="link separator">
    <tr>
    <td>{{ room.is_available }}</td>
    <td>{{ room.address }}</a></td>
    <td>{{ room.city }}</a></td>
    <td>{{ room.starting }}</a></td>
    <td>{{ room.room_type }}</a></td>
    <td>{{ room.room_rent }}</a></td>
    </tr>
  <tbody>
</table>
    {% if comments %}
      <ul class="comments">
        {{ commenttree(comments, room, g.user, request.base_url) }}
      </ul>
    {% endif %}
    {% if not g.user -%}
      <p>
        <a href="{{ url_for('login') }}">Login with Twitter or Google to leave a comment &rarr;</a>
      </p>
    {% else -%}
      <p id="toplevel-comment" class="hidden">
        <a href="#">Post a comment &rarr;</a>
      </p>
      <form method="POST" id="newcomment">
        <div class="hidden">
          <input type="hidden" name="form.id" value="newcomment"/>
          {{ commentform.hidden_tag() }}
          {{ commentform.parent_id() }}
          {{ commentform.edit_id() }}
        </div>
        <p>
          {{ renderfield(commentform.message) }}
        </p>
        <p>
          <input id="comment-submit" type="submit" value="Post comment"/>
        </p>
      </form>
      <form method="POST" id="delcomment" class="hidden">
        <div class="hidden">
          <input type="hidden" name="form.id" value="delcomment"/>
          {{ delcommentform.hidden_tag() }}
          {{ delcommentform.comment_id() }}
        </div>
        <p>
          Really delete this comment?
          <input id="comment-delete-submit" type="submit" value="Delete"/>
          or <a id="comment-delete-cancel" href="#">cancel</a>
        </p>
      </form>
    {% endif %}
{% endblock %}
